<!DOCTYPE html>
<html>
<head>
    <title>{{meta.title}} &mdash; {{chapter.title}}</title>
    <meta charset="utf8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="styles/_style.css"/>
    <link rel="stylesheet" href="vendor/foundation-6/css/foundation.css" />
    <link rel="stylesheet" type="application/vnd.adobe-page-template+xml" href="styles/page-template.xpgt"/>

</head>
<body>

<div class="off-canvas-wrapper">

    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <!-- off-canvas title bar for 'small' screen -->
        <div class="title-bar hap-is-fixed" data-responsive-toggle="widemenu" data-hide-for="medium" data-margin-top="0">
            <div class="title-bar-left">

                <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>

                <span class="title-bar-title">{{meta.title}}</span>

            </div>

            <div class="title-bar-right">

                <span class="title-bar-title">

                    <a href="/"><img class="hap-logo" src="images/logo.svg" alt="HOME"></a>

                </span>

            </div>

        </div>

        <div class="navigation-bar-mobile">
            <div class="float-right">
                <a href="{{previous}}"><i class="fa fa-2x fa-angle-left"></i></a>
                &nbsp;
                <a href="{{next}}"><i class="fa fa-2x fa-angle-right"></i></a>
            </div>
        </div>



        <!-- off-canvas left menu -->

        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

            <ul class="vertical dropdown menu has-hap-background" data-dropdown-menu>

                <li class="more-info-link">
                    <a href="/view/{{file_id}}">DOWNLOADS</a>
                    <span> | </span>
                    <a href="http://www.himalayanacademy.com">HOME</a>
                </li>

                <li><div data-bg-color="#f3f3f3" class="rdbWrapper" data-show-read-now="1" data-show-read-later="0" data-show-send-to-kindle="0" data-show-print="0" data-show-email="0" data-orientation="0" data-version="1"></div><script type="text/javascript">(function() {var s = document.getElementsByTagName("script")[0],rdb = document.createElement("script"); rdb.type = "text/javascript"; rdb.async = true; rdb.src = document.location.protocol + "//www.readability.com/embed.js"; s.parentNode.insertBefore(rdb, s); })();</script></li>

                {{#each toc}}

                    <li><a class="is-toc-item" href="{{link href}}">{{title}}</a></li>

                {{/each}}


            </ul>

        </div>



        <!-- "wider" top-bar menu for 'medium' and up -->

        <div id="widemenu" class="top-bar hap-is-fixed">


            <div class="top-bar-title">
                <button class="menu-icon dark" type="button" data-open="offCanvasLeft"></button>&nbsp;&nbsp;
                <b>{{meta.title}}</b> &mdash; {{chapter.title}}
            </div>


            <div class="top-bar-right">

                <div class="controls">
                    <a href="/"><img class="hap-logo" src="images/logo.svg" alt="HOME"></a>
                    &nbsp;&nbsp;
                    <a href="{{previous}}"><i class="fa fa-lg fa-angle-left"></i></a>
                    &nbsp;
                    <a href="{{next}}"><i class="fa fa-lg fa-angle-right"></i></a>
                </div>

            </div>

        </div>



        <!-- original content goes in this container -->

        <div class="off-canvas-content book-content" data-off-canvas-content>

            <div class="row column">

                {{{chapterContent}}}

            </div>

        </div>



        <!-- close wrapper, no more content after this -->

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="vendor/foundation-6/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>